@*
        Name : Devanshu Dave
        Student ID: 100785733
        Date: 04-12-2021
        Description: This is the index.cs page which displayes
                 the table with the data of the workers.
        Lab 6 Option 2: Web Application Using ASP.NET and MVC - Security Focus

*@
@{
    ViewData["Title"] = "Home Page";

}

<div class="text-center">
    <h1 class="display-4">Welcome To Inc Inc PayRoll Website</h1>
    <p>
        This website allows and gives the feature to create the worker, edit the worker, delete the worker, details fo each worker,
        with that all Workers list in a tabular form. It calculates the Pay as per the messages sent for PieceworkWorker or Senior Worker
        (options given)
    </p>
    <hr />
    <p>Login in order to create, view the registered workers.</p>
    <p>Register, if you are new to the website.</p>

</div>
