@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Inc Inc PayRoll Website</h1>
    <p>
        This website allows and gives the feature to create the worker, edit the worker, delete the worker, details fo each worker,
        with that all Workers list in a tabular form. It calculates the Pay as per the messages sent for PieceworkWorker or Senior Worker
        (options given)
    </p>
    <hr />
    <p>Login in order to create, view the registered workers.</p>
    <p>Register, if you are new to the website.</p>

</div>
